<h2>Posições Cadastradas:</h2>

<% unless @position_details.empty? %>

    <table class="table">
      <tr>
        <th>Modelo do Telefone</th>
        <th>Operadora</th>
        <th>Potência do Sinal</th>
        <th>Latitute</th>
        <th>Longitute</th>
        <th>Timestamp</th>
      </tr>
      <% @position_details.each do |position| %>
          <tr>
            <td><%= position.phone_model %></td>
            <td><%= position.carrier %></td>
            <td><%= position.signal %></td>
            <td><%= position.latitude %></td>
            <td><%= position.longitude %></td>
            <td><%= position.timestamp %></td>
          </tr>
      <% end %>

<% else %>
    <h3>Nenhuma posição cadastrada até o momento! :(</h3>
<% end %>
</table>