<!DOCTYPE html>
<html>
<head>
  <title>Projeto Sensores</title>
  <%= stylesheet_link_tag "application", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="" onload="mostraTempoSessao()">
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Projeto Sensores", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Listar Posições", position_details_path %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <br/>
  <br/>
  <%= flash_messages %>
  <%= yield %>
</div>
<!-- /.container -->
</body>
</html>
